#TopContainer{
    position: relative;
}

.OverlayLeafImage{
        position: absolute;
        right: 0px;
        width: 20%;
        top: 0px;
        opacity: 0.1;
        height: 100%;
}
.AdjustImages .ant-row .ant-col .BannerContainer{
    height: 100%;
}
.AdjustImages .ant-row .ant-col .BannerContainer img{
    border-radius: 0px;
    height: 100%;
}
.AdjustImages .ant-row .ant-col:first-child .BannerContainer img{
    padding-right: 5px;
  
}
