#AboutContent{
    position: relative;
}
#AboutContent .overlayImage{
    position: absolute;
    top: 10%;
    width: 200px;
    right: 0px;
    opacity: 0.2;
}
b{
    font-weight: 600;
}

@media (max-width:769px){
    #AboutContent .overlayImage{
        position: absolute;
    top: 0%;
    width: 130px;
    right: 0%;
    opacity: 0.2;
    }
}