#AnimatedAvoNavigationContainer {
    width: 100%;
    background-color: transparent;
    height: 8vh;
    display: flex;
    justify-content: center;
    padding: 0px 0px !important;
    position: fixed;
    top: 0px;
    z-index: 5;
}

#NavigationContainer {
    /* height: 10vh; */
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#LogoContainer img {
    width: 120px;
}

#SecondContainer {
    display: flex;
    align-items: center;
    color: white;
    padding: 0px 20px;
}

#FirstContainer {
    display: flex;
    width: 40%;
    background-color: #273730;
    /* padding: 10px; */
    align-items: center;
    position: sticky;
    z-index: 5555;
}

#FirstContainer div:first-child {
    width: 100%;
    padding: 10px;

}

#FirstContainer div:last-child {
    border-left: 1px solid #2e4139;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 13px;
}

#FirstContainer div:last-child svg {
    font-size: 40px;
}

@keyframes slideDown {
    0% {
        top: -50vh;
        /* Start position above the viewport */
    }

    30% {
        top: -10vh;
        /* Move slowly down */
    }

    100% {
        top: 0;
        /* Complete the slide down */
    }
}

/* Keyframe animation for controlled reverse speed (closing) */
@keyframes slideUp {
    0% {
        top: 0;
        /* Start at the bottom */
    }

    30% {
        top: -10vh;
        /* Move slowly up */
    }

    100% {
        top: -50vh;
        /* End above the viewport */
    }
}

/* Panel container initial hidden state */
#NavigationMegapanelContainer {
    background-color: #2b3d35;
    position: absolute;
    top: -50vh;
    /* Initial hidden position */
    height: 50vh;
    width: 90%;
    overflow: hidden;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/* Apply the slide down animation when menu is open */
#NavigationMegamenupanel.show #NavigationMegapanelContainer {
    animation-name: slideDown;
}

/* Apply the slide up animation when menu is closed */
#NavigationMegamenupanel.hide #NavigationMegapanelContainer {
    animation-name: slideUp;
}

/* Styling for the menu and close icons */
.MenuButton svg {
    font-size: 40px;
    cursor: pointer;
}

#NavigationMegamenupanel {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
}

#SecondContainer ul{
    display: flex;
}
#SecondContainer ul li{
    padding: 0px 20px;
    text-transform: uppercase;
}