# Ignore Node.js dependencies
node_modules/

# Ignore Next.js build and cache output
.next/
.next/cache/
.next/static/
.next/server/
.next/types/

# Ignore specific build output within the .next folder
*.gz

# Ignore generic cache files
.cache/
*.cache

# Ignore MacOS system files
.DS_Store

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
