@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/avenir');

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Avenir', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Avenir', sans-serif;
}


section{
  padding: 3rem 2rem;
}