@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/avenir');

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: 'Avenir', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Avenir', sans-serif;
}


section {
  padding: 6rem 4rem;
  padding-bottom: 0px !important;
}

.CommonHeading {
  font-size: 45px;
  font-weight: 600;
  padding: 5px 0px;
}

.CommonTagline {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

.AnimatedCommonBtn {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 50px;
  font-weight: 600;
  transition: 0.5;
  text-transform: uppercase;
  font-size: 12px;
}

.AnimatedCommonBtn:hover {
  background-color: #273730;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 50px;
  transition: 0.5;
  font-size: 12px;
}