#FooterContainer {
    background-color: #2e4139;
    color: white;
    padding: 0rem 4rem;
}

.ContainerHeading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    padding: 20px;
}

.SocialIconsContainer {
    padding-top: 94px;
}

.ShortNavigationLinksContainer {
    padding-top: 2rem;
}

.ShortNavigationLinksContainer {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 100%;
}

.SocialContainer {
    padding: 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .5s;
}
.SocialContainer p{
    transition: .5s;
    cursor: pointer;
}
.SocialContainer:hover p{
    transform: translateX(10px);
    transition: .5s;
}

.SocialContainer svg {
    font-size: 20px;
    /* background-color: black; */
    /* border-radius: 50%; */
    /* padding: 3px; */
}

.LogoAndBioContainer {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 100%;
}

.Footer-Logo{
    height: 100px;
    width: 250px;
    /* padding: 0px; */
    /* margin-top: 50px; */
}