/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/avoNavigation/Navigation.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
#AnimatedAvoNavigationContainer {
    width: 100%;
    background-color: transparent;
    height: 10vh;
    display: flex;
    justify-content: center;
    padding: 0px 0px !important;
    position: fixed;
    top: 0px;
    z-index: 5;
    align-items: center;
}

#NavigationContainer {
    /* height: 10vh; */
    height: 59.6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0rem 4rem;
    /* border-bottom: 1px solid #2e4139; */
}

#LogoContainer img {
    width: 120px;
}

#SecondContainer {
    display: flex;
    align-items:center;
    color: white;
    padding: 0px 20px;
    position: sticky;
}

#FirstContainer {
    display: flex;
    width: 33.3%;
    background-color: transparent;
    /* padding: 10px; */
    align-items: center;
    position: sticky;
    z-index: 5555;
}

#FirstContainer div:first-child {
    width: 100%;
    padding: 10px;

}

#FirstContainer div:last-child {
    border-left: 1px solid #2e4139;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 13px;
}

#FirstContainer div:last-child svg {
    font-size: 40px;
}

@keyframes slideDown {
    0% {
        top: -50vh;
        /* Start position above the viewport */
    }

    30% {
        top: -10vh;
        /* Move slowly down */
    }

    100% {
        top: 0;
        /* Complete the slide down */
    }
}

/* Keyframe animation for controlled reverse speed (closing) */
@keyframes slideUp {
    0% {
        top: 0;
        /* Start at the bottom */
    }

    30% {
        top: -10vh;
        /* Move slowly up */
    }

    100% {
        top: -50vh;
        /* End above the viewport */
    }
}

/* Panel container initial hidden state */
#NavigationMegapanelContainer {
    /* background-color: white; */
    position: absolute;
    top: -50vh;
    /* Initial hidden position */
    height: 50vh;
    width: 100%;
    overflow: hidden;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    padding: 0rem 4rem;
}

/* Apply the slide down animation when menu is open */
#NavigationMegamenupanel.show #NavigationMegapanelContainer {
    animation-name: slideDown;
}

/* Apply the slide up animation when menu is closed */
#NavigationMegamenupanel.hide #NavigationMegapanelContainer {
    animation-name: slideUp;
}

/* Styling for the menu and close icons */
.MenuButton{
    display: none !important;
}
.MenuButton svg {
    font-size: 40px;
    cursor: pointer;
}

#NavigationMegamenupanel {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    display: none;
}

#SecondContainer ul {
    display: flex;
}

#SecondContainer ul li {
    padding: 0px 20px;
    text-transform: uppercase;
}

.navigationpanel {
    height: 100%;
    width: 100%;
    padding-top: 5rem;
    background-color: #f3f6fc;
    position: relative;
}

.InsideNavigationContainer div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e7f1;
    padding: 20px 0px;

}

.InsideNavigationContainer {
    width: 100%;
    padding: 20px;
    height: 100%;
    border-right: 1px solid #e2e7f1;
}

.InsideNavigationContainer .AnimatedCommonBtn {
    background-color: transparent !important;
    color: black;
    border: 1px solid #e2e7f1 !important;
    transition: .5s;
}

.InsideNavigationContainer .AnimatedCommonBtn:hover {
    background-color: transparent !important;
    color: #2e4139;
    border: 1px solid #e2e7f1 !important;
    transition: .2s;
}

.InsideNavigationContainer h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}

.MegaLinksContainer {
    /* height: 100%; */
    width: 100%;
    background-color: transparent;
    /* padding: 20px 0px; */
    overflow: auto;
}

.MegaLinksContainer>div {
    padding: 20px 0px;
    border-bottom: 1px solid #e2e7f1;
    display: flex;
    justify-content: space-between;
}

.MegaLinksContainer>div h3 {
    font-size: 15px;
    font-weight: 600;
    transition: .5s;
    cursor: pointer;
}

.MegaLinksContainer div:hover h3 {
    transform: translateX(10px);
    transition: .5s;
}

.MegaLinksContainer>div p {
    letter-spacing: 5px;
    font-size: 12px;
}

.SocialIcons {
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 20px;
    top: 20px;
}

.SocialIcons div svg {
    margin: 10px;
    font-size: 20px;
}

@media (max-width: 798px) {
    #NavigationContainer {
        /* height: 10vh; */
        height: 59.6px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 0rem 0rem;
        /* border-bottom: 1px solid #2e4139; */
    }
    #AnimatedAvoNavigationContainer{
        width: 100%;
        display: flex;
        align-items: center;
    }
    #NavigationContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0rem;
    }

    #SecondContainer {
        display: flex;
        align-items: center;
        color: white;
        padding: 0px;
        position: sticky;
        
    }
     

}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/CursorAnimated/Cursor.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.star-cursor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ignore pointer events for the overlay */
    overflow: hidden;
}

.star {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: opacity 1s ease; /* Smooth fade transition */
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.visible {
  visibility: visible;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.flex {
  display: flex;
}
.hidden {
  display: none;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize {
  resize: both;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url('https://fonts.cdnfonts.com/css/avenir');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "Josefin Sans", sans-serif;
  transition: .5s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Josefin Sans", sans-serif;
  transition: .5s;
}


section {
  padding: 4rem 4rem;
  padding-bottom: 0px !important;
}

.CommonHeading {
  font-size: 45px;
  font-weight: 600;
  padding: 5px 0px;
}

.CommonTagline {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

.AnimatedCommonBtn {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 50px;
  font-weight: 600;
  transition: 0.5;
  text-transform: uppercase;
  font-size: 12px;
}

.AnimatedCommonBtn:hover {
  background-color: #273730;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 50px;
  transition: 0.5;
  font-size: 12px;
}

@media (max-width:900px) {

  section {
    padding: 2rem 1rem;
    padding-bottom: 0px !important;
  }
}


#TopNavContainerSet {
  position: fixed;
  top: 0px;
  right: 64px;
  /* width: 70%; */
  height: 0;
  left: 64px;
  background-color: #273730;
  overflow: hidden;
  transition: height 0.3s ease;
  z-index: -1;
}



/* ---------------animated CardAnimation------------------ */

#TopContainer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0rem;
}

#BestCategoriesCard {
  background-color: white;
  border: 1px solid rgb(239, 239, 239);
  /* border-right: 0px !important; */
  /* margin: 10px; */
  min-height: 320px;
  width: 100%;
  position: relative;
  transition: 1s;
  padding: 30px;

}

#FillColorAnimation {
  position: absolute;
  height: 0px;
  width: 0px;
  right: 0px;
  top: 0px;
  background-color: #f3f6fc;
  transition: 0.5s;
  border-radius: 0px 0px 0px 200px;
}

#BestCategoriesCard:hover #FillColorAnimation {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0px;
  background-color: #e8e9e7;
  transition: 0.5s;
  border-radius: 0px 0px 0px 0px;
}

#BestCategoriesCard button {
  /* background-color: transparent; */
  color: black;
  border: 1px solid rgb(232, 232, 232);
  opacity: 0;
  transform: translatey(40px) !important;
  transition: 1s;
}

#BestCategoriesCard:hover button {
  /* background-color: transparent; */
  color: white;
  border: 1px solid rgb(232, 232, 232);
  opacity: 1;
  transform: translatey(20px) !important;
  transition: 1s;
}

#BestCategoriesCard h1 {
  font-size: 25px;
  font-weight: 600;
}

#BestCategoriesCard h1,
#BestCategoriesCard p {
  transform: translatey(60px) !important;
  transition: 1s;

}

#BestCategoriesCard:hover h1,
#BestCategoriesCard:hover p {
  transform: translatey(40px) !important;
  transition: 1s;
}

#IconContainer svg {
  font-size: 30px;
  opacity: 0.3;
  background-color: transparent;
  position: absolute;


}

#IconContainer {
  padding: 20px;
  background-color: #f3f6fc;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}


@media (max-width:950px) {
  #TopNavContainerSet {
    position: fixed;
    top: 0px;
    right: 0px;
    /* width: 70%; */
    height: 0;
    left: 0px;
    background-color: #273730;
    overflow: hidden;
    transition: height 0.3s ease;
    z-index: -1;
    transition: .5s;
  }


  #BestCategoriesCard {
    background-color: white;
    border: 1px solid rgb(239, 239, 239);
    border-right: 0px !important;
    min-height: 100%;
    width: 100%;
    position: relative;
    transition: 1s;
    padding: 30px;

  }
}

.star-cursor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 9999;
}

.star {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 1s, transform 2s;
  background-image: url(/_next/static/media/ClipPathIcon.2312f3aa.svg);
  /* Use clip-path with a polygon or path that works */
 clip-path: polygon( 64.169% 9.638%,64.169% 9.638%,66.572% 7.814%,69.174% 6.707%,71.868% 6.274%,74.548% 6.467%,77.108% 7.242%,79.44% 8.555%,81.44% 10.359%,83% 12.61%,84.013% 15.263%,84.375% 18.272%,84.375% 18.272%,84.364% 18.667%,84.33% 19.056%,84.274% 19.438%,84.197% 19.813%,84.1% 20.18%,83.982% 20.539%,83.845% 20.888%,83.69% 21.228%,83.516% 21.557%,83.325% 21.875%,86.441% 21.875%,86.441% 21.875%,86.728% 21.881%,87.015% 21.898%,87.301% 21.926%,87.585% 21.966%,87.868% 22.016%,88.148% 22.078%,88.425% 22.15%,88.7% 22.234%,88.971% 22.328%,89.24% 22.433%,89.24% 22.433%,89.503% 22.549%,89.762% 22.674%,90.015% 22.81%,90.262% 22.955%,90.504% 23.11%,90.739% 23.274%,90.968% 23.447%,91.189% 23.629%,91.404% 23.82%,91.612% 24.02%,91.612% 24.02%,91.811% 24.228%,92.002% 24.443%,92.184% 24.665%,92.357% 24.894%,92.52% 25.129%,92.675% 25.371%,92.82% 25.618%,92.955% 25.872%,93.08% 26.13%,93.196% 26.394%,93.196% 26.394%,93.3% 26.662%,93.394% 26.934%,93.477% 27.209%,93.549% 27.486%,93.611% 27.767%,93.661% 28.049%,93.7% 28.333%,93.728% 28.619%,93.745% 28.906%,93.75% 29.194%,93.75% 42.681%,93.75% 42.681%,93.732% 43.206%,93.676% 43.726%,93.584% 44.238%,93.456% 44.742%,93.293% 45.234%,93.096% 45.714%,92.864% 46.179%,92.6% 46.627%,92.303% 47.057%,91.974% 47.467%,91.974% 47.467%,91.617% 47.852%,91.235% 48.209%,90.83% 48.536%,90.404% 48.833%,89.958% 49.099%,89.495% 49.333%,89.016% 49.533%,88.523% 49.699%,88.017% 49.83%,87.5% 49.925%,87.5% 87.231%,87.5% 87.231%,87.372% 88.797%,87.003% 90.281%,86.412% 91.665%,85.62% 92.929%,84.647% 94.052%,83.513% 95.016%,82.239% 95.8%,80.844% 96.384%,79.35% 96.749%,77.775% 96.875%,22.225% 96.875%,22.225% 96.875%,20.653% 96.75%,19.159% 96.388%,17.765% 95.808%,16.491% 95.028%,15.356% 94.069%,14.382% 92.948%,13.589% 91.685%,12.998% 90.298%,12.628% 88.807%,12.5% 87.231%,12.5% 49.925%,12.5% 49.925%,11.983% 49.83%,11.477% 49.699%,10.984% 49.533%,10.505% 49.333%,10.042% 49.099%,9.596% 48.833%,9.17% 48.536%,8.765% 48.209%,8.383% 47.852%,8.026% 47.467%,8.026% 47.467%,7.697% 47.057%,7.4% 46.627%,7.136% 46.179%,6.904% 45.714%,6.707% 45.234%,6.544% 44.742%,6.416% 44.238%,6.324% 43.726%,6.268% 43.206%,6.25% 42.681%,6.25% 29.194%,6.25% 29.194%,6.255% 28.906%,6.272% 28.619%,6.3% 28.333%,6.339% 28.049%,6.389% 27.767%,6.45% 27.487%,6.523% 27.209%,6.606% 26.935%,6.7% 26.663%,6.804% 26.395%,6.804% 26.395%,6.919% 26.131%,7.045% 25.872%,7.18% 25.619%,7.325% 25.372%,7.479% 25.13%,7.643% 24.895%,7.816% 24.666%,7.997% 24.444%,8.188% 24.229%,8.387% 24.021%,8.387% 24.021%,8.595% 23.822%,8.809% 23.631%,9.031% 23.448%,9.26% 23.275%,9.495% 23.111%,9.736% 22.956%,9.983% 22.811%,10.236% 22.675%,10.495% 22.55%,10.758% 22.434%,10.758% 22.434%,11.026% 22.329%,11.298% 22.235%,11.572% 22.151%,11.85% 22.078%,12.13% 22.017%,12.412% 21.966%,12.696% 21.927%,12.982% 21.898%,13.269% 21.881%,13.556% 21.875%,16.659% 21.875%,16.659% 21.875%,16.465% 21.546%,16.29% 21.208%,16.135% 20.862%,16.001% 20.508%,15.886% 20.147%,15.792% 19.78%,15.718% 19.409%,15.666% 19.033%,15.635% 18.653%,15.625% 18.272%,15.625% 18.272%,15.987% 15.262%,17% 12.607%,18.56% 10.354%,20.559% 8.546%,22.891% 7.232%,25.451% 6.455%,28.131% 6.261%,30.826% 6.697%,33.429% 7.807%,35.834% 9.637%,41.428% 15.063%,41.428% 15.063%,41.658% 14.565%,41.916% 14.084%,42.201% 13.62%,42.511% 13.173%,42.847% 12.746%,43.207% 12.339%,43.59% 11.953%,43.996% 11.59%,44.423% 11.25%,44.871% 10.934%,44.871% 10.934%,45.336% 10.645%,45.816% 10.384%,46.309% 10.153%,46.814% 9.95%,47.329% 9.778%,47.853% 9.635%,48.386% 9.523%,48.924% 9.442%,49.468% 9.393%,50.016% 9.375%,50.016% 9.375%,51.147% 9.444%,52.238% 9.644%,53.281% 9.968%,54.268% 10.409%,55.192% 10.957%,56.044% 11.607%,56.818% 12.348%,57.504% 13.175%,58.095% 14.078%,58.584% 15.05%,64.169% 9.638%,18.75% 50%,18.75% 87.231%,18.75% 87.231%,18.794% 87.777%,18.922% 88.296%,19.129% 88.782%,19.406% 89.226%,19.749% 89.623%,20.151% 89.964%,20.606% 90.242%,21.108% 90.45%,21.649% 90.58%,22.225% 90.625%,40.625% 90.625%,40.625% 50%,18.75% 50%,59.375% 50%,59.375% 90.625%,77.775% 90.625%,77.775% 90.625%,78.047% 90.617%,78.316% 90.588%,78.58% 90.538%,78.839% 90.468%,79.092% 90.378%,79.337% 90.269%,79.572% 90.141%,79.798% 89.994%,80.012% 89.829%,80.215% 89.647%,80.215% 89.647%,80.402% 89.449%,80.571% 89.239%,80.723% 89.017%,80.857% 88.784%,80.972% 88.542%,81.068% 88.292%,81.144% 88.034%,81.2% 87.771%,81.236% 87.503%,81.25% 87.231%,81.25% 50%,59.375% 50%,87.5% 42.681%,87.5% 29.194%,87.5% 29.194%,87.499% 29.152%,87.497% 29.11%,87.493% 29.069%,87.488% 29.027%,87.481% 28.986%,87.472% 28.946%,87.462% 28.905%,87.45% 28.865%,87.437% 28.826%,87.422% 28.787%,87.422% 28.787%,87.405% 28.748%,87.387% 28.711%,87.368% 28.674%,87.347% 28.638%,87.324% 28.602%,87.301% 28.568%,87.276% 28.535%,87.25% 28.502%,87.222% 28.471%,87.193% 28.441%,87.193% 28.441%,87.163% 28.411%,87.132% 28.384%,87.1% 28.357%,87.067% 28.332%,87.033% 28.308%,86.998% 28.285%,86.962% 28.264%,86.926% 28.244%,86.888% 28.225%,86.85% 28.208%,86.85% 28.208%,86.811% 28.193%,86.772% 28.179%,86.732% 28.167%,86.692% 28.156%,86.651% 28.147%,86.61% 28.139%,86.569% 28.133%,86.527% 28.129%,86.486% 28.126%,86.444% 28.125%,59.375% 28.125%,59.375% 43.75%,86.444% 43.75%,86.444% 43.75%,86.486% 43.749%,86.527% 43.746%,86.569% 43.742%,86.61% 43.736%,86.651% 43.728%,86.692% 43.719%,86.732% 43.708%,86.772% 43.696%,86.811% 43.682%,86.85% 43.667%,86.85% 43.667%,86.888% 43.65%,86.926% 43.631%,86.962% 43.611%,86.998% 43.59%,87.033% 43.567%,87.067% 43.543%,87.1% 43.518%,87.132% 43.491%,87.163% 43.464%,87.193% 43.434%,87.193% 43.434%,87.222% 43.404%,87.25% 43.373%,87.276% 43.34%,87.301% 43.307%,87.324% 43.273%,87.347% 43.237%,87.368% 43.201%,87.387% 43.164%,87.405% 43.127%,87.422% 43.088%,87.422% 43.088%,87.437% 43.049%,87.45% 43.01%,87.462% 42.97%,87.472% 42.929%,87.481% 42.889%,87.488% 42.848%,87.493% 42.806%,87.497% 42.765%,87.499% 42.723%,87.5% 42.681%,40.625% 28.125%,13.556% 28.125%,13.556% 28.125%,13.514% 28.126%,13.473% 28.129%,13.431% 28.133%,13.39% 28.139%,13.349% 28.147%,13.308% 28.156%,13.268% 28.167%,13.228% 28.179%,13.189% 28.193%,13.15% 28.208%,13.15% 28.208%,13.112% 28.225%,13.074% 28.244%,13.038% 28.264%,13.002% 28.285%,12.967% 28.308%,12.933% 28.332%,12.9% 28.357%,12.868% 28.384%,12.837% 28.411%,12.807% 28.441%,12.807% 28.441%,12.778% 28.471%,12.75% 28.502%,12.724% 28.535%,12.699% 28.568%,12.676% 28.602%,12.653% 28.638%,12.632% 28.674%,12.613% 28.711%,12.595% 28.748%,12.579% 28.787%,12.579% 28.787%,12.563% 28.826%,12.55% 28.865%,12.538% 28.905%,12.528% 28.946%,12.519% 28.986%,12.512% 29.027%,12.507% 29.069%,12.503% 29.11%,12.501% 29.152%,12.5% 29.194%,12.5% 42.681%,12.5% 42.681%,12.501% 42.723%,12.503% 42.765%,12.507% 42.806%,12.512% 42.848%,12.519% 42.889%,12.528% 42.929%,12.538% 42.97%,12.55% 43.01%,12.563% 43.049%,12.579% 43.088%,12.579% 43.088%,12.595% 43.127%,12.613% 43.164%,12.632% 43.201%,12.653% 43.237%,12.676% 43.273%,12.699% 43.307%,12.724% 43.34%,12.75% 43.373%,12.778% 43.404%,12.807% 43.434%,12.807% 43.434%,12.837% 43.464%,12.868% 43.491%,12.9% 43.518%,12.933% 43.543%,12.967% 43.567%,13.002% 43.59%,13.038% 43.611%,13.074% 43.631%,13.112% 43.65%,13.15% 43.667%,13.15% 43.667%,13.189% 43.682%,13.228% 43.696%,13.268% 43.708%,13.308% 43.719%,13.349% 43.728%,13.39% 43.736%,13.431% 43.742%,13.473% 43.746%,13.514% 43.749%,13.556% 43.75%,40.625% 43.75%,40.625% 28.125% );;
}

.star.moving {
  opacity: 1;
  animation: starBlink 2s ease-in-out infinite, starMove 0.5s ease;
}

@keyframes starBlink {

  0%,
  100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0.2;
  }
}

@keyframes starMove {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

#TopContainer .Icon {
  position: absolute;
  width: 30px;
  top: 85px;
  left: -16px;
  rotate: -40deg;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/Footer/Footer.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
#FooterContainer {
    background-color: #2e4139;
    color: white;
    padding: 0rem 4rem;
}

.ContainerHeading {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    padding: 20px;
}

.SocialIconsContainer {
    padding-top: 0px;
}

.ShortNavigationLinksContainer {
    padding-top: 0rem;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 100%;
}

.SocialContainer {
    padding: 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .5s;
}
.SocialContainer p{
    transition: .5s;
    cursor: pointer;
}
.SocialContainer:hover p{
    transform: translateX(10px);
    transition: .5s;
}

.SocialContainer svg {
    font-size: 20px;
    /* background-color: black; */
    /* border-radius: 50%; */
    /* padding: 3px; */
}

.LogoAndBioContainer {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.Footer-Logo{
    height: 100px;
    width: 250px;
    /* padding: 0px; */
    /* margin-top: 50px; */
}

@media (max-width:769px){
    #FooterContainer {
        background-color: #2e4139;
        color: white;
        padding: 0rem 0rem;
    }
    #FooterContainer .ant-row .ant-col{
        width: 100%;
    }
    .LogoAndBioContainer {
        border-right: 1px solid rgba(255, 255, 255, 0.15);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
        
    }
    .SocialIconsContainer {
        padding-top: 0px;
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.js","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistSans';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistSans Fallback';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: 'geistSans', 'geistSans Fallback'
}.__variable_1e4310 {--font-geist-sans: 'geistSans', 'geistSans Fallback'
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.js","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistMono';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistMono Fallback';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: 'geistMono', 'geistMono Fallback'
}.__variable_c3aa02 {--font-geist-mono: 'geistMono', 'geistMono Fallback'
}

