#AvoHomeHeroMainContainer {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    /* animation: backgroundSlideshow 15s infinite;  */
    /* z-index: -1; */
}

#AvoHomeHeroMainContainer .swiper-slide {
    height: 100vh !important;
}

#AvoHomeHeroMainContainer .swiper-pagination {
    position: absolute !important;
    right: 20px !important;
    /* width: 200px; */
    /* display: flex; */
    flex-direction: column !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: end !important;
    height: 100% !important;
}

#AvoHomeHeroMainContainer .swiper-pagination-bullet {
    padding: 6px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.3s;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#AvoHomeHeroMainContainer .swiper-pagination-bullet::after{
content: "";
display: inline-block;
height: 12px ;
width: 12px;
background-color: #273730;
border-radius: 50%;
position: absolute;

}

/* Pulse effect for active pagination bullet */
#AvoHomeHeroMainContainer .swiper-pagination-bullet-active {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 #273730;
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* @keyframes backgroundSlideshow {
    0% {
        background-image: url("https://images.unsplash.com/photo-1608755727748-dfa2e44f255b?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    25% {
        background-image: url("https://images.unsplash.com/photo-1480632563560-30f503c09195?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    50% {
        background-image: url("https://images.unsplash.com/photo-1513507544439-d2cd3d79b274?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    75% {
        background-image: url("https://images.unsplash.com/photo-1464895216333-d859b45bf394?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    }
    100% {
        background-image: url("https://images.unsplash.com/photo-1542125363-a877c094f8dc?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
    }
} */

#LeftSideBottomContainer {
    background-color: white;
    height: 20vh;
    width: 33.3%;
    position: absolute;
    bottom: 0px;
    left: 5%;
    /* left: 0px; */

}

#LeftSideBottomContainer div:first-child {
    width: 12.2%;
    background-color: rgb(238, 238, 238);
    height: 100%;
}

#BottomContaienr {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
}