.mySwiper {
  padding: 2rem 1rem;
  height: 100vh;
  width: 100%;
  
}
.homeImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.homeImageContainer img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: contain;
}
.mySwiper .swiper-pagination{
    text-align: right;
    display: flex;
    flex-direction: column;
    top: 50%;
    align-items: end;
}
.mySwiper .swiper-pagination-bullet{
    background-color: black;
    margin: 0.5rem  !important;
    color: black;
}
.mySwiper .swiper-pagination-bullet:hover{
    transform: scale(1.1);
}
@media (max-width:769px) {
    .mySwiper{
        height: 30vh;
    }
    .mySwiper .swiper-pagination{
        top: 35%;
    }
}